<app-generic-alert [message]="message" [type]="type" [template]="template" (onChangeValue)="updateValue($event)">
</app-generic-alert>
<div class="main-content">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 *ngIf="!mode_edit" class="card-title">Criar usuário</h4>
                    <h4 *ngIf="mode_edit" class="card-title">Editar usuário</h4>
                </div>
                <div class="card-body">
                    <div *ngIf="loading" style="text-align: center; margin: 0 auto">
                        <mat-spinner style="margin: 0 auto" diameter="30"></mat-spinner>
                        <span>Carregando...Aguarde!</span>
                    </div>
                    <div class="material-datatables" *ngIf="!loading">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Nome</mat-label>
                                        <input autocomplete="off" required type="text" name="name" [(ngModel)]="user.name" matInput
                                            placeholder="" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>E-mail</mat-label>
                                        <input autocomplete="off" required type="text" name="email" [(ngModel)]="user.email" matInput
                                            placeholder="" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Senha</mat-label>
                                        <input autocomplete="off" required type="password" name="pass" [(ngModel)]="user.password" matInput
                                            placeholder="" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Confirma senha</mat-label>
                                        <input autocomplete="off" required type="password" name="confirm" [(ngModel)]="confirm_pass" matInput
                                            placeholder="" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Telefone</mat-label>
                                        <input autocomplete="off" type="text" [(ngModel)]="user.phone" matInput placeholder="" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" *ngIf="me_data.role == 'super-root'" >
                                        <mat-label>Função</mat-label>
                                        <mat-select required name="role" [(ngModel)]="user.role">
                                            <mat-option  value="root">Root</mat-option>
                                            <mat-option  value="admin">Admin</mat-option>
                                            <mat-option value="user">User</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" *ngIf="me_data.role == 'root'" >
                                        <mat-label>Função</mat-label>
                                        <mat-select required name="role" [(ngModel)]="user.role">
                                            <mat-option  value="root">Root</mat-option>
                                            <mat-option  value="admin">Admin</mat-option>
                                            <mat-option value="user">User</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" *ngIf="me_data.role == 'admin'" >
                                        <mat-label>Função</mat-label>
                                        <mat-select required name="role" [(ngModel)]="user.role">
                                            <mat-option  value="admin">Admin</mat-option>
                                            <mat-option value="user">User</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Grupo</mat-label>
                                        <mat-select  name="func" [(ngModel)]="user.group_id">
                                            <mat-option *ngFor="let group of groups" [value]="group.id">
                                                {{group.description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-checkbox name="active" [(ngModel)]="user.active">
                                        Ativo
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-checkbox name="can_create" [(ngModel)]="user.can_create">
                                        Pode inserir registros
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-checkbox name="can_create_header" [(ngModel)]="user.can_create_header">
                                        Pode criar cabeçalho de formulários
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-checkbox name="can_edit" [(ngModel)]="user.can_edit">
                                        Pode editar registros
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-checkbox name="can_finish_header" [(ngModel)]="user.can_finish_header">
                                        Pode finalizar formulários
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-checkbox name="delete" [(ngModel)]="user.can_delete">
                                        Pode deletar registros
                                    </mat-checkbox>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-checkbox name="can_list" [(ngModel)]="user.can_list">
                                        Pode visualizar registros
                                    </mat-checkbox>
                                </div> -->
                                <!-- <div class="col-md-6">
                                    <mat-checkbox name="can_list" [(ngModel)]="user.can_followup">
                                        Pode fazer acompanhamento
                                    </mat-checkbox>
                                </div> -->
                            </div>

                            <button *ngIf="!mode_edit" mat-raised-button class="btn btn-primary-iform pull-right"
                                style="margin-right: 20px; margin-bottom: 30px" (click)="validation(false)">
                                Salvar
                            </button>
                            <button *ngIf="mode_edit" mat-raised-button class="btn btn-primary-iform pull-right"
                                style="margin-right: 20px; margin-bottom: 30px" (click)="validation(true)">
                                Editar
                            </button>
                        </form>
                        <button class="btn btn-outline-primary pull-right" [routerLink]="['/user-admin']">
                            Voltar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>