<div style="overflow-y: auto;
max-height: 90vh;">
    <h5>Permissões usuário {{user.name}}: </h5>

    <h5 class="titulo">Menu principal</h5>
    <section *ngFor="let menus of menus_principal">
        <div>
            <mat-checkbox disabled [checked]="menus.allComplete" color="accent" [indeterminate]="someComplete(menus)"
                (change)="setAll(menus, $event.checked)">
                {{menus.name}}
            </mat-checkbox>
        </div>
        <div *ngIf="menus.type_menu == 'sub'">
            <ul>
                <li *ngFor="let subtask of menus.subtasks">
                    <mat-checkbox disabled [(ngModel)]="subtask.checked" color="accent"
                        (ngModelChange)="updateAllComplete(menus)">
                        {{subtask.name}}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </section>

    <h5 class="titulo">Menu</h5>
    <section *ngFor="let menu1 of menus1">
        <div>
            <mat-checkbox  disabled [checked]="menu1.allComplete" color="accent" [indeterminate]="someComplete(menu1)"
                (change)="setAll(menu1,$event.checked)">
                {{menu1.name}}
            </mat-checkbox>
        </div>
        <div>
            <ul>
                <li *ngFor="let subtask of menu1.subtasks">
                    <mat-checkbox disabled [(ngModel)]="subtask.checked" color="accent"
                        (ngModelChange)="updateAllComplete(menu1)">
                        {{subtask.name}}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </section>
</div>