<app-generic-alert [message]="message" [type]="type" [template]="template" (onChangeValue)="updateValue($event)">
</app-generic-alert>
<div class="main-content">
    <div class="row pb-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button [routerLink]="['create-service/', '00000000-0000-0000-0000-000000000000']" class="btn btn-primary-iform"
                    style="margin-right: 20px; ">
                Novo serviço
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Serviços</h4>
                </div>
                <div class="card-body">
                    <div *ngIf="loading" style="text-align:center;margin:0 auto">
                        <mat-spinner style="margin: 0 auto;" diameter="30"></mat-spinner>
                        <span>Carregando...Aguarde!</span>
                    </div>
                    <div class="material-datatables" *ngIf="!loading">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input matInput type="text" name="search" placeholder="Pesquisa..." [(ngModel)]="filter">
                                </mat-form-field>
                            </div>
                            <mat-icon>search</mat-icon>
                        </div>

                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                               width="100%" style="width: 100%">
                            <thead class="text-info">
                            <th>Id</th>
                            <th>Título</th>
                            <th>Orçamento</th>
                            <th>Criação</th>
                            <th class="text-right">Ações</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let service of services | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{ service.id }}</td>
                                <td>{{ service.title }}</td>
                                <td>{{ service.budget | currency }}</td>
                                <td>{{ service.created_at | date}}</td>
                                <td class="text-right">
                                    <a [routerLink]="['create-service/', service.id]" href="javascript:void(0)" matTooltip="Editar" matTooltipClass="tooltip-primary"
                                       class="btn btn-link btn-primary btn-just-icon edit">
                                        <i class="material-icons"> edit </i>
                                    </a>
                                    <a href="javascript:void(0)" (click)="confirmDialog(service.id)" matTooltip="Excluir" matTooltipClass="tooltip-primary"
                                       class="btn btn-link btn-danger btn-just-icon remove">
                                        <i class="material-icons"> close </i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
