
<div >
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-sm-12 text-center" style="    height: 100vh;
        align-items: center;
        display: flex;">
          <div style="display: block;
          background-color: #ffbe00;
          border-radius: 30px;border-radius: 30px;max-width: 90vw;max-height: 90vw; margin:0 auto">
            <img style="max-width: 90vw;max-height:90vh;border-radius: 30px;" src="assets/img/page-not-found.png" alt="">
            <!-- <h3 class="mt-4 mb-1">404</h3>
            <p>Page not found!</p> -->
            <button class="btn btn-primary-iform" (click)="back()">Voltar</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          
          
        </div>
        <div class="col-lg-4">
          <div>
          
          </div>
        </div>
        <div class="col-lg-4">
          
        </div>
      </div>
    </div>
  </div>
  