.main-content {
  height: 100%;
  background: #3C4858;
  display: flex;
  padding: 50px 0;

  .title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: normal;
    margin-bottom: 40px;
  }

  .bg-modules {
    justify-content: center;

    .col-mod {
      align-items: center;
      text-align: -webkit-center;
      animation-name: load-modules;
      animation-duration: .5s;

      //Animations
      @keyframes load-modules {
        0% {
          opacity: 0
        }

        100% {
          opacity: 1
        }
      }

      .frame-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #fff;
        background-color: #4754667d;
        margin: 12px;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        position: relative;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0 0 4px 0px #141414;
        cursor: pointer;

        &:hover,
        &.active {
          background: #152f50f9;

          .item-description {
            opacity: 1;
          }

        }

        &.active {
          box-shadow: 0 0 4px 0px #ffffff, 0 0 4px 1314px #000000eb;
          z-index: 5;
          position: absolute;
          transform-origin: 10% bottom;
          cursor: none;
          transition: transform 1.5s, filter 1.5s ease-in-out;
          filter: brightness(108%);
          transform: scale(1.6);

          .item-title,
          .item-description {
            opacity: 0;
          }

          .item-lottie {
            cursor: none;
          }
        }

        i {
          font-size: 60px;
          color: azure;
        }

        &.disable{
          filter: grayscale(1);
          cursor: not-allowed;
        }
      }

      .item-lottie {
        height: inherit;
        width: max-content;

        &.fabrica {
          height: 124%;
          width: 121%;
          margin-top: -10%;
        }

        &.motor {
          height: 70%;
          width: 70%;
        }

        &.fire {
          height: 101%;
          width: 101%;
        }

        &.machineroom {
          height: 80%;
          width: 80%;
        }
      }

      .item-title {
        background-color: #ffffffe9;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: #3C4858;
        letter-spacing: normal;
        width: 100%;
        position: absolute;
        bottom: 25%;
      }

      .item-description {
        background-color: #000000e9;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #ffffff;
        letter-spacing: normal;
        width: 100%;
        position: absolute;
        bottom: 25%;
        z-index: 1;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}